In [4]:
import pandas as pd

chipo = pd.read_csv('topSubscribed.csv', delimiter=',', encoding='utf-8')

In [5]:
%pwd

'c:\\Users\\merik\\OneDrive - Hämeen ammattikorkeakoulu\\1Vuosi_Moduuli2\\Analysoinnin perusteet\\Harjoitusteht-v-t\\Excercise 5 Get and know your data for the project work'

In [6]:
chipo.head(10)

,Rank,Youtube Channel,Subscribers,Video Views,Video Count,Category,Started
0,1,T-Series,"234,000,000","212,900,271,553","18,515",Music,2006
1,2,YouTube Movies,"161,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"152,000,000","149,084,178,448",846,Education,2006
3,4,SET India,"150,000,000","137,828,094,104","103,200",Shows,2006
4,5,MrBeast,"128,000,000","21,549,128,785",733,Entertainment,2012
5,6,Music,"118,000,000",0,0,https://us.youtubers.me/global/all/top-1000-mo...,2013
6,7,PewDiePie,"111,000,000","28,851,883,250","4,694",Gaming,2010
7,8,✿ Kids Diana Show,"106,000,000","86,638,570,921","1,056",People & Blogs,2015
8,9,Like Nastya,"104,000,000","87,202,935,675",754,People & Blogs,2016
9,10,Gaming,"93,300,000",0,0,https://us.youtubers.me/global/all/top-1000-mo...,2013

In [7]:
chipo.shape[0]

1000

In [8]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             1000 non-null   int64
 1   Youtube Channel  1000 non-null   object
 2   Subscribers      1000 non-null   object
 3   Video Views      1000 non-null   object
 4   Video Count      1000 non-null   object
 5   Category         1000 non-null   object
 6   Started          1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [9]:
chipo.shape

(1000, 7)

In [10]:
chipo.columns

Index(['Rank', 'Youtube Channel', 'Subscribers', 'Video Views', 'Video Count',
       'Category', 'Started'],
      dtype='object')

In [11]:
chipo.index

RangeIndex(start=0, stop=1000, step=1)

In [12]:
chipo.values

array([[1, 'T-Series', '234,000,000', ..., '18,515', 'Music', 2006],
       [2, 'YouTube Movies', '161,000,000', ..., '0', 'Film & Animation',
        2015],
       [3, 'Cocomelon - Nursery Rhymes', '152,000,000', ..., '846',
        'Education', 2006],
       ...,
       [998, 'YtCrash', '11,400,000', ..., '1', 'Education', 2015],
       [999, 'Painzeiro', '11,400,000', ..., '946', 'People & Blogs',
        2015],
       [1000, 'Oum Walid', '11,400,000', ..., '1,598', 'People & Blogs',
        2015]], shape=(1000, 7), dtype=object)

In [13]:
column_data_types = chipo.dtypes
print(column_data_types)

Rank                int64
Youtube Channel    object
Subscribers        object
Video Views        object
Video Count        object
Category           object
Started             int64
dtype: object

In [15]:
column_data_type = chipo['Rank'].dtype
print(column_data_type)

int64

In [17]:
chipo.sort_values("Started")

,Rank,Youtube Channel,Subscribers,Video Views,Video Count,Category,Started
99,100,YouTube,"35,200,000","2,980,922,779",620,News & Politics,1970
22,23,Zee TV,"65,400,000","31,291,572,708","80,178",Entertainment,2005
507,508,VICE,"16,500,000","4,417,232,834","3,786",Entertainment,2005
68,69,Shakira,"40,100,000","25,428,049,775",307,People & Blogs,2005
762,763,BBC,"13,200,000","9,296,738,948","14,156",Pets & Animals,2005
...,...,...,...,...,...,...,...
487,488,SMOL,"16,800,000","18,006,604,541","2,813",People & Blogs,2021
483,484,Azhan5star,"16,800,000","8,351,014,001",507,Entertainment,2021
587,588,Marta and Rustam,"15,100,000","16,065,818,431",571,Comedy,2021
520,521,Sagawa /さがわ,"16,200,000","13,685,363,296","4,602",Entertainment,2021
983,984,ZutiGang,"11,500,000","12,712,546,262","1,075",People & Blogs,2021

In [18]:
chipo.sort_values("Started", ascending=False)

,Rank,Youtube Channel,Subscribers,Video Views,Video Count,Category,Started
400,401,Shorts Break,"18,400,000","12,771,152,207",351,Comedy,2021
898,899,deepesh zo,"12,100,000","5,655,945,454",392,People & Blogs,2021
853,854,Priyal Kukreja,"12,500,000","7,984,381,092",613,People & Blogs,2021
587,588,Marta and Rustam,"15,100,000","16,065,818,431",571,Comedy,2021
483,484,Azhan5star,"16,800,000","8,351,014,001",507,Entertainment,2021
...,...,...,...,...,...,...,...
70,71,Ishtar Music,"39,500,000","16,198,667,693","4,582",Trailers,2005
335,336,Marvel Entertainment,"20,000,000","5,423,946,266","8,257",Entertainment,2005
903,904,Avril Lavigne,"12,100,000","5,905,100,328",163,Music,2005
64,65,Rihanna,"40,900,000","21,169,959,746",82,Entertainment,2005
99,100,YouTube,"35,200,000","2,980,922,779",620,News & Politics,1970

In [19]:
chipo.sort_values(["Rank", "Started"])

,Rank,Youtube Channel,Subscribers,Video Views,Video Count,Category,Started
0,1,T-Series,"234,000,000","212,900,271,553","18,515",Music,2006
1,2,YouTube Movies,"161,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"152,000,000","149,084,178,448",846,Education,2006
3,4,SET India,"150,000,000","137,828,094,104","103,200",Shows,2006
4,5,MrBeast,"128,000,000","21,549,128,785",733,Entertainment,2012
...,...,...,...,...,...,...,...
995,996,XO TEAM,"11,500,000","11,471,384,709","2,679",People & Blogs,2021
996,997,Nirahua Music World,"11,500,000","5,997,717,755",788,Music,2014
997,998,YtCrash,"11,400,000","3,825,084",1,Education,2015
998,999,Painzeiro,"11,400,000","2,143,444,281",946,People & Blogs,2015
999,1000,Oum Walid,"11,400,000","2,480,064,722","1,598",People & Blogs,2015

In [20]:
chipo.sort_values(["Rank", "Started"], ascending=[False,True])

,Rank,Youtube Channel,Subscribers,Video Views,Video Count,Category,Started
999,1000,Oum Walid,"11,400,000","2,480,064,722","1,598",People & Blogs,2015
998,999,Painzeiro,"11,400,000","2,143,444,281",946,People & Blogs,2015
997,998,YtCrash,"11,400,000","3,825,084",1,Education,2015
996,997,Nirahua Music World,"11,500,000","5,997,717,755",788,Music,2014
995,996,XO TEAM,"11,500,000","11,471,384,709","2,679",People & Blogs,2021
...,...,...,...,...,...,...,...
4,5,MrBeast,"128,000,000","21,549,128,785",733,Entertainment,2012
3,4,SET India,"150,000,000","137,828,094,104","103,200",Shows,2006
2,3,Cocomelon - Nursery Rhymes,"152,000,000","149,084,178,448",846,Education,2006
1,2,YouTube Movies,"161,000,000",0,0,Film & Animation,2015
0,1,T-Series,"234,000,000","212,900,271,553","18,515",Music,2006

In [21]:
subset_chipo = chipo["Category"]
print(subset_chipo)

0                 Music
1      Film & Animation
2             Education
3                 Shows
4         Entertainment
             ...
995      People & Blogs
996               Music
997           Education
998      People & Blogs
999      People & Blogs
Name: Category, Length: 1000, dtype: object

In [22]:
subset_chipo1 = chipo[["Rank", "Category", "Started"]]
print(subset_chipo1)

     Rank          Category  Started
0       1             Music     2006
1       2  Film & Animation     2015
2       3         Education     2006
3       4             Shows     2006
4       5     Entertainment     2012
..    ...               ...      ...
995   996    People & Blogs     2021
996   997             Music     2014
997   998         Education     2015
998   999    People & Blogs     2015
999  1000    People & Blogs     2015

[1000 rows x 3 columns]

In [23]:
subset_df = chipo[chipo['Started'] > 2015]
print(subset_df)

     Rank  Youtube Channel  Subscribers     Video Views Video Count  \
8       9      Like Nastya  104,000,000  87,202,935,675         754
11     12    Vlad and Niki   92,700,000  72,444,118,381         520
13     14        BLACKPINK   83,900,000  28,723,286,185         468
15     16  5-Minute Crafts   78,500,000  24,983,430,208       5,937
51     52      BRIGHT SIDE   44,300,000  10,430,931,571       5,173
..    ...              ...          ...             ...         ...
975   976       Stray Kids   11,600,000   2,599,025,008         709
979   980      CarryisLive   11,600,000   1,449,647,680         947
983   984         ZutiGang   11,500,000  12,712,546,262       1,075
984   985         Flamingo   11,500,000   9,569,061,994       2,324
995   996          XO TEAM   11,500,000  11,471,384,709       2,679

           Category  Started
8    People & Blogs     2016
11    Entertainment     2018
13   People & Blogs     2016
15    Howto & Style     2016
51    Howto & Style     2017
..              ...      ...
975  People & Blogs     2017
979          Gaming     2017
983  People & Blogs     2021
984          Gaming     2017
995  People & Blogs     2021

[244 rows x 7 columns]

In [24]:
subset_df = chipo[chipo['Category'] == "Howto & Style"]
print(subset_df)

     Rank                      Youtube Channel Subscribers     Video Views  \
15     16                      5-Minute Crafts  78,500,000  24,983,430,208
51     52                          BRIGHT SIDE  44,300,000  10,430,931,571
124   125                               GENIAL  31,700,000   6,578,128,540
212   213                                 Yuya  24,900,000   2,586,211,373
225   226                           Chloe Ting  24,300,000   2,855,477,471
246   247                          Troom Troom  23,400,000  10,001,222,206
297   298                                Tasty  21,000,000   5,614,408,524
301   302                  5-Minute Crafts DIY  20,800,000   4,997,658,141
327   328                 5-Minute Crafts PLAY  20,100,000   5,916,449,403
329   330                        Gulshan Kalra  20,100,000   9,709,536,467
358   359              Village Cooking Channel  19,500,000   5,091,483,300
428   429                SUPER SLICK SLIME SAM  18,000,000   6,536,886,700
455   456                        Fede Vigevani  17,500,000   5,618,139,731
458   459                      Manual do Mundo  17,400,000   3,695,346,065
460   461                           李子柒 Liziqi  17,300,000   2,885,085,503
470   471                           HowToBasic  17,100,000   3,617,767,355
508   509                   IDEAS EN 5 MINUTOS  16,500,000   3,603,087,973
515   516                     Sandra Cires Art  16,300,000   3,846,664,788
536   537                          jeffreestar  15,900,000   2,592,651,786
576   577              حِرف إبداعية في 5 دقائق  15,300,000   4,334,496,018
577   578                                Musas  15,200,000   2,376,552,971
596   597                              Mariale  15,000,000   2,670,473,667
626   627                     IDEIAS INCRÍVEIS  14,600,000   3,526,599,957
671   672                            Трум Трум  14,300,000   6,593,621,634
674   675                      Rosanna Pansino  14,300,000   4,374,008,476
686   687                      NikkieTutorials  14,100,000   1,672,330,718
687   688                       Mis Pastelitos  14,100,000   2,514,596,947
722   723                        Narins Beauty  13,800,000   2,147,505,352
729   730                               Wengie  13,600,000   1,889,199,744
760   761                               Anaysa  13,300,000   3,283,873,970
761   762                       NishaMadhulika  13,300,000   2,795,305,843
778   779                           ATHLEAN-X™  13,100,000   2,233,627,821
812   813                     Kabita's Kitchen  12,800,000   2,516,352,711
836   837                    Troom Troom India  12,700,000   6,608,476,174
842   843                              Blossom  12,600,000   4,527,850,608
846   847                          Health Time  12,600,000     992,361,227
872   873                       Troom Troom PT  12,400,000   4,302,109,080
918   919                             TsMadaan  12,000,000   1,370,529,687
923   924                       First We Feast  11,900,000   2,645,221,536
942   943                 bharatzkitchen HINDI  11,800,000   2,111,580,099
958   959  الجانب المُشرق | Bright Side Arabic  11,700,000   1,686,312,058
966   967                    Yoga With Adriene  11,700,000   1,267,465,262
981   982                            Vy Qwaint  11,500,000   5,652,341,273

    Video Count       Category  Started
15        5,937  Howto & Style     2016
51        5,173  Howto & Style     2017
124       5,957  Howto & Style     2017
212         672  Howto & Style     2009
225         386  Howto & Style     2011
246       2,120  Howto & Style     2015
297       4,461  Howto & Style     2016
301       4,478  Howto & Style     2018
327       4,934  Howto & Style     2017
329         457  Howto & Style     2018
358         219  Howto & Style     2018
428         817  Howto & Style     2018
455         938  Howto & Style     2009
458       2,266  Howto & Style     2006
460         128  Howto & Style     2017
470         568  Howto & Style     2011
508       5,070  Howto & Style     2017
515       1,071  Howto & Style     2011
536         433  Howto & Style     2006
576       4,807  Howto & Style     2017
577         612  Howto & Style     2012
596       2,087  Howto & Style     2010
626       5,055  Howto & Style     2017
671       2,108  Howto & Style     2015
674       1,106  Howto & Style     2010
686         866  Howto & Style     2008
687         556  Howto & Style     2014
722         422  Howto & Style     2014
729         414  Howto & Style     2010
760         513  Howto & Style     2012
761       2,104  Howto & Style     2009
778       1,314  Howto & Style     2006
812       1,329  Howto & Style     2014
836       2,199  Howto & Style     2015
842         674  Howto & Style     2017
846       1,687  Howto & Style     2016
872       2,553  Howto & Style     2015
918       1,753  Howto & Style     2008
923         896  Howto & Style     2014
942         677  Howto & Style     2016
958       5,338  Howto & Style     2018
966         674  Howto & Style     2012
981         559  Howto & Style     2014