In [4]:
import pandas as pd

chipo = pd.read_csv('topSubscribed.csv', delimiter=',', encoding='utf-8')

In [5]:
%pwd

'c:\\Users\\merik\\OneDrive - Hämeen ammattikorkeakoulu\\1Vuosi_Moduuli2\\Analysoinnin perusteet\\Harjoitusteht-v-t\\Excercise 5 Get and know your data for the project work'

In [6]:
chipo.head(10)

,Rank,Youtube Channel,Subscribers,Video Views,Video Count,Category,Started
0,1,T-Series,"234,000,000","212,900,271,553","18,515",Music,2006
1,2,YouTube Movies,"161,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"152,000,000","149,084,178,448",846,Education,2006
3,4,SET India,"150,000,000","137,828,094,104","103,200",Shows,2006
4,5,MrBeast,"128,000,000","21,549,128,785",733,Entertainment,2012
5,6,Music,"118,000,000",0,0,https://us.youtubers.me/global/all/top-1000-mo...,2013
6,7,PewDiePie,"111,000,000","28,851,883,250","4,694",Gaming,2010
7,8,✿ Kids Diana Show,"106,000,000","86,638,570,921","1,056",People & Blogs,2015
8,9,Like Nastya,"104,000,000","87,202,935,675",754,People & Blogs,2016
9,10,Gaming,"93,300,000",0,0,https://us.youtubers.me/global/all/top-1000-mo...,2013

In [7]:
chipo.shape[0]

1000

In [8]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             1000 non-null   int64
 1   Youtube Channel  1000 non-null   object
 2   Subscribers      1000 non-null   object
 3   Video Views      1000 non-null   object
 4   Video Count      1000 non-null   object
 5   Category         1000 non-null   object
 6   Started          1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [9]:
chipo.shape

(1000, 7)

In [10]:
chipo.columns

Index(['Rank', 'Youtube Channel', 'Subscribers', 'Video Views', 'Video Count',
       'Category', 'Started'],
      dtype='object')

In [11]:
chipo.index

RangeIndex(start=0, stop=1000, step=1)

In [12]:
chipo.values

array([[1, 'T-Series', '234,000,000', ..., '18,515', 'Music', 2006],
       [2, 'YouTube Movies', '161,000,000', ..., '0', 'Film & Animation',
        2015],
       [3, 'Cocomelon - Nursery Rhymes', '152,000,000', ..., '846',
        'Education', 2006],
       ...,
       [998, 'YtCrash', '11,400,000', ..., '1', 'Education', 2015],
       [999, 'Painzeiro', '11,400,000', ..., '946', 'People & Blogs',
        2015],
       [1000, 'Oum Walid', '11,400,000', ..., '1,598', 'People & Blogs',
        2015]], shape=(1000, 7), dtype=object)

In [13]:
column_data_types = chipo.dtypes
print(column_data_types)

Rank                int64
Youtube Channel    object
Subscribers        object
Video Views        object
Video Count        object
Category           object
Started             int64
dtype: object

In [15]:
column_data_type = chipo['Rank'].dtype
print(column_data_type)

int64